.header {
   
    display: flex;
    justify-content:space-around;
    border: 2px solid black;
}

.logo{
    width: 150px;
    height: 70px;
}

.nav-items ul{
   
    display: flex;
    list-style: none;
    gap: 30px;
}

.restaurant-list{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cards{
    width: 250px;
    border: 1px solid black;
    padding: 10px;
}

.cardImg {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
}

.shimer-items{
    display: flex;
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr); /* 4 per row */
    gap: 20px;
    justify-items: center;
}

.shimer-items div {
  width: 250px;
  height: 300px;
  background-color: #d3d3d3;
  border-radius: 10px;
  animation: shimmer 1.5s infinite linear;
}